@media screen and (max-width: 1200px){
  .form-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
h2 {
  margin-bottom: 40px;
}
.input-container {
  position: relative;
  margin-bottom: 40px;
}
.input-container:focus-within label {
  top: -18px;
  z-index: 10000;
  color: blue;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.input-container:focus-within input {
  outline: none;
}
.email {
  border: 0px solid;
  width: 300px;
  padding: 10px 0px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
.btn {
  padding: 12px 40px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid rgb(79, 79, 252);
  background-color: rgb(79, 79, 252);
  color: white;
  cursor: pointer;
}
.email::placeholder {
  color: gray;
  position: absolute;
  top: 0px;
  left: 10px;
  transform: translateY(-50%);
}
.email-label {
  position: absolute;
  left: 14px;
  top: 8px;
  color: gray;
}
.email-active {
  border: 0px solid;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  padding: 10px;
}

.email-active::placeholder {
  position: absolute;
  top: 0px;
  left: 10px;
  transform: none;
}

}

